  [data-theme-mode="dark"] li,
  [data-theme-mode="dark"] p,
  [data-theme-mode="dark"] h1,
  [data-theme-mode="dark"] h2,
  [data-theme-mode="dark"] h3,
  [data-theme-mode="dark"] h4,
  [data-theme-mode="dark"] h5,
  [data-theme-mode="dark"] h6,
  [data-theme-mode="dark"] h7,
  [data-theme-mode="dark"] h8 {
    color: white;
    /* Cor para tema escuro */
  }

  [data-theme-mode="light"] li,
  [data-theme-mode="light"] p,
  [data-theme-mode="light"] h1,
  [data-theme-mode="light"] h2,
  [data-theme-mode="light"] h3,
  [data-theme-mode="light"] h4,
  [data-theme-mode="light"] h5,
  [data-theme-mode="light"] h6,
  [data-theme-mode="light"] h7,
  [data-theme-mode="light"] h8 {
    color: gray;
    /* Cor para tema claro */
  }

  #headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important; /* Faz o "object-fit: cover" do background */
}
.checkout-preview-content {
    @media screen and (min-width: 1400px) {
        & figure.main-image {
            width: calc(100% - 4rem) !important;
        }
    }
}
.main-image {
    width: 100%;
    max-width: 1040px;
    margin-left: 0px;
    margin-right: 0px;
}
figure {
    max-width: 250px;
    margin: 0px 1.5rem;
    border-radius: 2px;
    overflow: hidden;
}
#topbar_background {
    height: 51.60px !important;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
#topbar_text {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.guide.current .guide-text .step-number {
    background: var(--checkout-color);
    color: #ffffff !important;
}

.guide-text .step-number {
    float: left;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background: #f4f6fb;
    border-radius: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.bg-steps-form {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.step-number {
    margin-right: 10px;
}

.body-container {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
}
.cart {
    font-weight: 600;
    font-size: 16px;
    color: #313c52;
}
.qtde {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: var(--gateway-color);
    color: #ffffff !important;
}
.btn-security {
    color: #313c52 !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background: #fff;
    border: 1px solid #f7f6f8;
    box-sizing: border-box;
    border-radius: 60px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    outline: 0;

    /* CENTRALIZAÇÃO */
    margin: 0 auto;
    position: relative; /* Evita conflito com posicionamento absoluto */
}
.input-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 80px;
    height: 32px;
    border-radius: 20px;
}

.input-number button:first-child {
    border-radius: 30px 0 0 30px;
    border-top: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}
.product-list .btn-add, .product-list .btn-sub {
    cursor: pointer;
}
.input-number button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    transition: all .5s;
}
.input-number button:last-child {
    border-radius: 0 30px 30px 0;
    border-top: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}
.input-number input {
    width: 30px;
    height: 30px;
    padding: 0;
    outline: 0;
    box-shadow: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    -webkit-appearance: textfield;
    -webkit-background-clip: padding-box;
    -moz-appearance: textfield;
    -moz-background-clip: padding-box;
    appearance: textfield;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}
.product-img {
    width: auto;
    height:50px;
}
.product-grid {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    grid-template-columns: 50px auto 80px;
    margin-bottom: 16px;
    color: #313c52;
}
@media screen and (max-width: 720px){

    #topbar_text {
        font-size: 12px;
    }
}

.info-segura {
    border: 2px dashed #d6d6d6;
    padding: 5px;
    border-radius: 10px;
}
.produto {
    border: none;
}

.btn-form-checkout-prev {
    color: white;
    font-weight: bold;
}

.btn-form-checkout-prev:hover {
    color: white;
    font-weight: bold;
}
.step-number,
.step-text {
    font-weight: bold;
}

.product-v-mobile {
    display: none;
}
.product-v-desktop {}

@media screen and (max-width: 720px){
    .product-v-mobile {
    display: block;
}


.product-v-desktop {
    display: none;
}
}
#header_image1,
#header_image2 {
    width: auto;
    height: 170px;
}
.jss809 .chk-payment-flags {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.jss809 .chk-payment-flags.selected .chk-flag-option.selected {
    box-shadow: inset 0 0 0 2px var(--color-default);
}
.jss809 .chk-payment-flags .chk-flag-option:last-child {
    margin-right: 0;
}
.jss809 .chk-payment-flags .chk-flag-option:first-child {
    margin-left: 0;
}
.jss809 .chk-payment-flags .chk-flag-option {
    width: 100px;
    height: 57px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #4388d3;
    color: #e4e4e4;
    position: relative;
    vertical-align: middle;
}

.container-pix {
    position: relative;
}
.pix-icon {
    width: 100px;
    height: auto;
    border: 2px solid var(--color-default);
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.chk-flag-option-discount {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 194, 0);
    border-radius: 6px;
    width: 70px;
    color: white;
    text-align: center;
    font-size: 0.65rem !important;
}
.percent-discount {
    border-radius: 4px;
    border: 1px solid #6acd85;
    background: #ecf5f1;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    color: #59bf75;
}
#pix_data_payment {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.container-item {
    width: 100%;
    min-height: 155px;
    border: 2px dashed var(--color-default);
    background: var(--color-default-opacity);
    border-radius: 10px;
    padding: 20px;
}

.buton-bump {
    background: var(--color-default);
    background-color: var(--color-default);
}
.buton-bump:hover {
    background: var(--color-default-opacity2);
    background-color: var(--color-default-opacity2);
}
.ob-preview-content {
    padding: 4px;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #59bf75 #f3fff7;
}

.ob-photo {
    width: 78px;
    height: 78px;
    margin-right: 24px;
    border-radius: 4px;
    background-color: #fff;
    object-fit: contain;
}

.ob-preview-content .ob-photo {
    width: 55px;
    height: 55px;
    margin-left: 5px;
    margin-top: 5px;

}

.ob-preview-content .ob-title {
    font-size: 14px;
    font-weight: 600;
    -webkit-line-clamp: 2;
}
.ob-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -.02em;
    color: #313c52;
}
.ob-preview-content .ob-description {
    margin-bottom: 4px;
    font-size: 11px;
    line-height: 11px;
    color: #9f9f9f;
}
.ob-description {
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 10px;
    color: #999;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.ob-preview-content .ob-trash {
    position:absolute;
    bottom: 5px;
    right:5px;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto 0;
}
.ob-trash {
    display: none;
    width: 18px;
    height: 18px;
    align-self: flex-start;
    margin: -5px -8px 5px 8px;
    background-image: url(../img/trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ob-preview-content .ob-price-container {
    display: flex
;
    align-items: center;
    font-size: 14px;
    color: #313c52;
}
.ob-price {
    margin-left: 3px;;
}
.ob-preview-content .ob-saved {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border-radius: 2px;
    background-color: #59bf75;
    font-size: 10px;
    line-height: 12px;
    font-weight: 800;
    color: #fff;
    margin-left: 5px;
}
.ob-preview-content>.ob-info:only-child {
    padding: 0;
}
.ob-preview-content .ob-info {
    padding: 4px;
}
.ob-info {
    position: relative;
    display: flex
;
    align-items: flex-start;
    width: 100%;
}
.ob-trash {
    display: none;
    width: 18px;
    height: 18px;
    align-self: flex-start;
    margin: -5px -8px 0 8px;
    background-image: url(https://pay.ment-deveuperdeu.shop/assets/img/trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.container-item-in-cart {
    border: 2px dashed #59bf75;
    border-radius: 8px;
    background: #abffc171;
    padding: 4px;
    margin-bottom: 10px;
    min-height: 80px;
}
.ob-purchased {
    display: none;
}
.ob-purchased.d-flex {
    display: inline-block; /* ou flex se necessário */
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #02b432;
    border-radius: 8px;
    background: #4fd172;
    color: rgb(255, 255, 255);
    padding: 4px 7px;
    margin-bottom: 10px;
    z-index: 10;
    white-space: nowrap;
    font-size: 0.9rem;
}

.number-qtd {
    /* border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231); */
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0; /* remove se quiser centralização perfeita */
    width: 20px;
}

.btn-add-bump {
    max-height: 40px;
    box-shadow: 0 0 2px var(--color-default);
}

@media screen and (max-width: 992px) {
    #header_image1, #header_image2 {
        width: auto;
        height: 90px;
    }

    #headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important; /* Faz o "object-fit: cover" do background */
    }
}

